<p class="font-amatic font-bold text-5xl ml-5 mt-2" xmlns="http://www.w3.org/1999/html">Regras do jogo</p>
<mat-dialog-content class="font-amatic custom-dialog-content">
  <div *ngIf="isInitialPage">
    <p class="font-amatic text-3xl font-bold" *ngIf="paginaAtual === 1 && isInitialPage">Bem vinda ao Túnel do Tempo, esse
      website foi desenvolvido porque você disse que gostava de desafios! <br>
      O jogo se chama "Túnel do tempo" porque achei que seria uma boa maneira de comemorarmos nosso 9º ano juntos, relembrando de algumas coisas
      marcantes durante todo esse período utilizando um jogo de perguntas.<br>
      Será que você lembra de tudo que aconteceu até aqui?<br>
      Se não lembrar, não tem problema, o intuito do jogo é justamente esse... No apartamento estão espalhadas todas as respostas<br>
      Para jogar de forma correta, existem algumas regras...
  </div>

  <div *ngIf="paginaAtual === 2">

    <p class="font-amatic text-3xl"><b class="font-bold">Regra número 1:</b> As respostas do jogo estão
      ocultas no apartamento, você precisará procurá-las.</p>
    <p class="font-amatic text-3xl"><b class="font-bold">Regra número 2:</b> No topo da tela haverá um ícone de lâmpada,
      isso indica que você poderá pedir dica
      sobre a resposta. Serão 3 dicas por pergunta e as dicas só serão exibidas uma única vez. Algumas perguntas não terão
      cabeçalho, sendo necessário utilizar as dicas para entender a questão.
    </p>
    <p class="font-amatic text-3xl"><b class="font-bold">Regra número 3:</b> O jogo só irá avançar para a próxima
      pergunta se você responder corretamente a
      pergunta na
      tela.</p>
    <p class="font-amatic text-3xl"><b class="font-bold">Regra número 4:</b> Algumas portas estão trancadas, considere
      isso como fases do jogo, à medida que você
      avançar encontrará as chaves para abrir e seguir para o próximo nível.</p>
    <p class="font-amatic text-3xl"><b class="font-bold">Regra número 5:</b> A suíte é a fase final, não pule etapas,
      visto que todas as chaves funcionam para
      todas as
      portas.</p>
  </div>

  <div *ngIf="paginaAtual === 3">

    <p class="font-amatic text-3xl"><b class="font-bold">Regra número 6:</b> Não saia procurando freneticamente pelo
      apartamento, isso pode fazer você encontrar
      itens que ainda não deveriam ser encontrados.</p>
    <p class="font-amatic text-3xl"><b class="font-bold">Regra número 7:</b> Siga as perguntas orientadoras de cada
      questão, use todas as dicas se necessário e pense antes de agir, pode
      economizar um bom tempo.</p>
    <p class="font-amatic text-3xl"><b class="font-bold">Regra número 8:</b> TODAS as respostas em formato de texto,
      deverão ser escritas sem
      caracteres especiais (ascentos, cedilhas, etc). Para as respostas de números, deverão ser escritas sem pontuações
      e separados por vírgula e espaço quando envolver mais de um numero. Exemplo: 123, 456, 7, 89, 0</p>
    <p class="font-amatic text-3xl"><b class="font-bold">Regra número 9:</b> TODAS as respostas em formato de datas,
      deverão ser respondidas no formato DD/MM/YYYY.
      na tela.</p>
    <p class="font-amatic text-3xl"><b class="font-bold">Regra número 10:</b> O jogo não é salvo localmente, então não
      atualize a página se não perderá todo o
      progresso. Em cada pergunta terá um botão onde você poderá rever as regras.</p>
    <p class="font-amatic text-3xl"><b class="font-bold">Regra número 11:</b> A sua recompensa te espera na fase final.
    Qualquer dúvida estarei te acompanhando de perto, é só perguntar!</p>


  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button *ngIf="paginaAtual !== 1 && isInitialPage" (click)="backwardPage()" style="float: left">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-button *ngIf="paginaAtual !== 3" (click)="goNextPage()">
    <mat-icon>arrow_forward</mat-icon>
  </button>
  <button class="font-amatic text-2xl" mat-button mat-dialog-close *ngIf="paginaAtual == 3 && isInitialPage"
          (click)="startGame()">Começar
  </button>
  <button class="font-amatic text-2xl" mat-button mat-dialog-close *ngIf="paginaAtual == 3 && !isInitialPage">Entendido
  </button>
</mat-dialog-actions>
