.portfolio {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Tamanho único predefinido */
  grid-gap: 10px;
}

.video {
  position: relative;
  //width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Proporção de aspecto 16:9 para o vídeo */
  overflow: hidden;
}

.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-modal {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.modal-content {
  max-width: 800px; /* Tamanho máximo do modal */
  max-height: 600px; /* Tamanho máximo do modal */
  width: 90%; /* Largura do modal ajustável */
  height: auto; /* Altura do modal ajustável */
  text-align: center; /* Centraliza a imagem horizontalmente */
  overflow: hidden; /* Esconde o conteúdo que ultrapassar as dimensões do modal */
}

.modal-content video {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain; /* Faz a imagem se ajustar mantendo a proporção */
}
