<div class="flex flex-col gap-16">

  <span class="text-cyan-50 text-8xl ml-10 mt-10 font-satisfy"> Túnel do Tempo </span>

  <div class="flex flex-col ml-10 w-fit gap-2">

    <p class="text-cyan-50 text-5xl hover:bg-amber-400 hover:font-bold cursor-pointer p-2 rounded-md font-amatic" (click)="startGame()">
      Começar a jogar</p>
    <p class="text-cyan-50 text-5xl hover:bg-amber-400 hover:font-bold cursor-pointer p-2 rounded-md font-amatic" (click)="roles()">Regras</p>
    <p class="text-cyan-50 text-5xl hover:bg-amber-400 hover:font-bold cursor-pointer p-2 rounded-md font-amatic" (click)="ourHistory()">Nossa
      história</p>
    <p class="text-cyan-50 text-5xl hover:bg-amber-400 hover:font-bold cursor-pointer p-2 rounded-md font-amatic" (click)="goPhotos()">
      Fotografias</p>
    <p class="text-cyan-50 text-5xl hover:bg-amber-400 hover:font-bold cursor-pointer p-2 rounded-md font-amatic" (click)="goVideos()">
      Videos</p>

  </div>

</div>
